@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,100;1,400;1,500&display=swap");
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    /* position: fixed; */
    color:white ;
    background-image: url('./assets/EDITH_Running.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
button{
    color: black;
    /* top: 50%; */
    margin-left: 50%;
    /* right: 50%;
    bottom: 50%; */
    background-image: none;
}

.edith_setup{
    background-image: none;
    display: inline-block;
    position: absolute;
}

label{
    color: black;
    text-align: center;
    display: block;
    background-image: none;
}

input{
    color: black;
    outline: none;
    border: none;
    background-image: none;
    border: 1px solid black;
    border-radius: 3px;
    width: 45vw;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
}

#submit_button,#CloseCommandsButton {
    background-image: none;
    background-color: cadetblue;
    color: white;
    width: 80px;
    margin-left: 45%;
    padding: 10px 5px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.machine{
    /* background-color: black; */
    color: cadetblue;
    height: 80vh;
    width: 100vw;
    user-select: none; /*This will restrict the user from being able to select text inside this div*/
}

.machine *{
    position: absolute;
}

.in_middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: wheat;
    outline: none;
    border: none;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10000;
    align-items: center;
    width: 50vw; 
    max-height: 50vh;
    overflow-y: scroll ;
}
    .in_middle::-webkit-scrollbar{
        display: block;
    }
    .in_middle::-webkit-scrollbar-track{
        border-radius: 10px;
    }
    .in_middle::-webkit-scrollbar-thumb{
        background-color: cadetblue;
        border-radius: 10px;

    }

.icon{
    height: 50px;
    width: 50px;
    object-fit: cover;
    padding: 3px;
    background-color: cadetblue;
    border-radius: 50%;
}

.container *{
    position: static;
}

.container{
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (min-width: 1000px) {
    .battery{
        right: 45%;
        top: 3.5%;
        margin-top: 1%;
    }   
    .network{
        left: 18%;
        width: 100px;
    }
    .messages{
        top: 60%;
        width: 30%;
        overflow-x: hidden;
        left: 0;
    }
    .calendar{
        right: 20%;
    }
}
@media only screen and (max-width: 999px) {
    .clock{
        top: 1%;
    }
    .battery{
        left: 12%;
        top: 13%;
    }   
    .network{
        left: 1.5%;
        top: 25%;
        /* z-index: 10001; */
    }
    .messages{
        top: 70%;
        left: 5%;
        width: 30%;
        overflow-x: auto;
    }
    .calendar{
        right: 40%;
    }
}
.battery{
    width: 200px;
    transform: translateX(-50%);
}

#battery{
    color: cadetblue;
}

.clock{
    width: 150px;
}

#time{
    color: cadetblue;
}


#network{
    color: cadetblue;
    margin-left: 10%;
}
.temperature{
    right: 10px;
    text-align: right;
    font-size: small;
}

.temperature *{
    position: static;
}

.messages{
    margin-left: 20%;
    width: 30%;
    height: auto;
    overflow-y: auto;
    /*To display as a chat system*/
    z-index: 1000;
    background-color: wheat;
    position: absolute;
}

.user{
    text-align: right;
    width: 300px;
    color: rgb(7, 97, 25);
}

.edith{
    text-align: left;
    margin-top: 5px;
    width: 300px;
    color: darkred;
}
.edith_link{
    text-align: left;
    margin-top: 5px;
    width: 300px;
    color: cadetblue;
    text-decoration: underline;
}


.commands{
    display: none;
    color: black;
    background-color: wheat;
    position: absolute;
    overflow: auto;
}

.commands p{
    color:navy
}

#start_edith{
    border: none;
    outline: none;
    position: fixed;
    left: 50%;
    transform: translateX(0);
    top: 50%;
    right: 50%;
    bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    text-align: center;
}

#start_edith img{
    height: 180px;
    border-radius: 50%;
}
#start_edith p{
   z-index: 1000;
   color: cadetblue;
   /* left: 30%;
   right: 70%; */
   font-size: x-large;
   position: absolute;
}

.calendar{
    position: absolute;
    top: 5%;
    /* right: 20%; */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #115ea5;
    background: linear-gradient(to right, #4a00e0,#115ea5);
    background: -webkit-linear-gradient(to right, #4a00e0,#115ea5);
}

.calendar *{
    position: static;
    width: 180px;
    padding: 0 20px;
    margin: 5px 0;
}

.calendar #date{
    font-size: 50px;
}

.calendar #day{
    margin-top: 10px;
    background-color: black;
}

